.Navbar {
  text-align: center;
}
.Navbar a {
  border-radius: 15px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
}
.Navbar a:hover {
  background-color: rgb(11, 11, 78);
}