body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: lightblue;
}
.wrapper {
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: "header header"
                        "navbar profile";
  gap: 20px;
}
.wrapper > div {
  border-radius: 15px;
  background: rgb(89, 89, 206);
}
.Header {
  grid-area: header;
}
.Profile {
  grid-area: profile;
}
.Navbar {
  grid-area: navbar;
}